body {
	padding-left: 150px;
	font-family: 'Sacramento', cursive;

}


h1 a {
	color: #800480;
}

h2 a {
	color: #489300;
}

.hover-title:hover {
	color: white;
	transform: translateX(50px);
	transition: 2s;
} 

.page-header {
	background-color: #489300;
	margin-top: 0;

}

.page-header h1, .page-header h1 a {
	color: #fff;
	font-size: 36pt;
	text-overflow: none;
}


.post {
	margin-bottom:45px;
	text-shadow: none;
}










